Package: vphish
Version: 1.0
Installed-Size: 9400
Architecture: all
Maintainer: @VirajLR
Depends: php, wget, git, curl, resolv-conf, proot
Homepage: https://github.com/VirajLR/vphish
Description: An automated phishing tool with 30+ templates. This Tool is made for educational purpose only !
